<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!empezado" class="menu-btn"></ion-back-button>
      <ion-button *ngIf = "empezado" style ="font-size: 17.5px;" (click)="popup()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf = "juegoSeleccionado.JuegoActivo">{{juegoSeleccionado.NombreJuego}}</ion-title>
    <ion-title *ngIf = "!juegoSeleccionado.JuegoActivo">Clasificación {{juegoSeleccionado.NombreJuego}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "juegoSeleccionado.JuegoActivo">
  <app-juego-de-geocaching-info style="display: block" id="info"></app-juego-de-geocaching-info>
  <ion-content style="display: none" id="juego">
    <div id="map"></div>
    <ion-card class="tarjetaPistaFacil" *ngIf="rendirse; else Aviso_rendirse">
          <div id="textoPF">
            <p id="PFelement">Pista facil</p>
          </div>
          <div id="textoPistaFacil">
            <p id="pistaFacilElement">{{pistaFacil}}</p>
          </div>
          <div id="distanciaContainer">
            <p id="distanciaElement">{{distancia}}</p>
            <!-- <p id="textoEnunciado">Distancia hasta el punto:</p>
            <p id="textoDistancia">{{distancia}}m</p> -->
          </div>
    </ion-card>

    <ng-template #Aviso_rendirse>
      <ion-card class="tarjetaPistaDificil" (click)="Rendirse()">
        <div id="textoPD">
          <p id="PDelement">Pista difícil</p>
        </div>
        <div id="textoPistaDificil">
          <p id="pistaDificilElement">{{pistaDificil}}</p>
        </div>
        <!-- <h4 style = "text-align: center;">Pista difícil </h4> 
        <h2 style = "text-align: center; color: rgb(172, 26, 26)"> {{pistaDificil}} </h2> -->
      </ion-card>
    </ng-template>


    <ion-button id="butInfo" (click)="popoverEvent()" > i </ion-button>
    <div id="padding">
      
    </div>    
    <div id="containerBotones">
      <ion-button id="ranking" (click)="RankingClick()"> Ver ranking </ion-button>
      <ion-button id="posicionround" class="inicio"> {{ranking}} </ion-button>
      <ion-button #responder [disabled]="!habilitarResponder"   id="contestar" class="lejos" (click) = "ResponderPregunta()"> Responder <br> pregunta</ion-button>
    </div>
  </ion-content>
  <button id="botonInformacion" mat-button (click)="display()" mat-raised-button color="primary">Oculta info</button>
</ion-content>


<ion-content *ngIf = "!juegoSeleccionado.JuegoActivo" class="juegoseleccionado-content"  [scrollEvents]="true">
  <!-- AQUI LO QUE SALDRA CUANDO EL JUEGO ESTE DESACTIVADO -->
</ion-content>


