<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!empezado" class="menu-btn"></ion-back-button>
      <ion-button *ngIf = "empezado" style ="font-size: 17.5px;" (click)="popup()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf = "juegoSeleccionado.JuegoActivo">{{juegoSeleccionado.NombreJuego}}</ion-title>
    <ion-title *ngIf = "!juegoSeleccionado.JuegoActivo">Clasificación {{juegoSeleccionado.NombreJuego}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "juegoSeleccionado.JuegoActivo">
  <app-juego-de-geocaching-info style="display: block" id="info"></app-juego-de-geocaching-info>
  <ion-content style="display: none" id="juego">
    <div id="map"></div>
    <ion-card class="tarjetaPista" *ngIf="rendirse; else Aviso_rendirse">
      <ion-card-content>
        <div class="contenedor">
          <div class="child">
            <h4 style = "text-align: left;">Pista fácil </h4> 
            <h2 style = "text-align: left; color:rgb(172, 26, 26)"> {{pistaFacil}} </h2>
          </div>
          <div class="child">
            <h4 style = "text-align: right;">Distancia a tu destino </h4>
            <h1 style = "text-align: right; color: rgb(172, 26, 26)">{{distancia}} metros </h1>
          </div>
        </div>
      </ion-card-content> 
    </ion-card>

    <ng-template #Aviso_rendirse>
      <ion-card class="tarjetaPista" (click)="Rendirse()">
        <h4 style = "text-align: center;">Pista difícil </h4> 
        <h2 style = "text-align: center; color: rgb(172, 26, 26)"> {{pistaDificil}} </h2>
      </ion-card>
    </ng-template>


    <ion-button id="butInfo" (click)="popoverEvent()" > i </ion-button>
    <div id="containerBotones">
      <ion-button id="ranking" (click)="RankingClick()"> Ver ranking </ion-button>
      <ion-button id="contestar" class="lejos"> Responder pregunta</ion-button>
    </div>
  </ion-content>
  <button id="botonInformacion" mat-button (click)="display()" mat-raised-button color="primary">Oculta info</button>
</ion-content>


<ion-content *ngIf = "!juegoSeleccionado.JuegoActivo" class="juegoseleccionado-content"  [scrollEvents]="true">
  <!-- AQUI LO QUE SALDRA CUANDO EL JUEGO ESTE DESACTIVADO -->
</ion-content>


