:host ::ng-deep .mat-horizontal-stepper-header-container{
    display: none;
}
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.radio-button {
    margin: 5px;
    color: black;
}
#botonInformacion {
    display: flex;
    --ion-color-primary: #354f7b
}

  
  #map {
    position: absolute!important;
    height: 100%;
    width: 100%;
    margin: auto;
    border: 2px solid black;
    z-index: 0;
  }
.button-empezar {
    background-color: rgb(7, 214, 93);
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 20px;
    /* Si no funciona al desplegar en el movil, lo hacemos asi
    margin-top: 300px; */
    /* position: absolute;
    bottom: 35px;
    right: 25px; */
    margin-top: 100px; 
}

.siguiente {
    background-color: rgb(7, 150, 216);
    color: white;
    font-size: 24px;
    padding: 20px;
    border-radius: 50px;
    /* position: absolute;
    bottom: 35px;
    right: 25px; */
    margin-top: 150px; 
}

.anterior {
    background-color: rgb(7, 150, 216);
    color: white;
    font-size: 24px;
    padding: 20px;
    border-radius: 50px;
    /* position: absolute;
    bottom: 35px;
    left: 25px; */
    margin-top: 175px; 
}
#padding {
    height: 65%;
}
#butInfo {
    --ion-color-primary: #354f7b;
    --border-radius: 50px;
    scale: 1;
    margin: 0.5%;
    margin-right: 98%;
    height: 6%;
}
#posicionround {
    width: 65px;
    height: 65px;
    float: left;
    margin: auto;
    padding: 3px;
    animation: animacion 2s linear infinite;
}
.inicio {
    display: none;
}
.fueratop3 {
    --ion-color-primary: #354f7b;
    --border-radius: 50px;
}
.top3 {
    --ion-color-primary: #CD7F32;
    --border-radius: 15px;
}
.top2 {
    --ion-color-primary: #C0C0C0;
    --border-radius: 15px;
}
.top1 {
    --ion-color-primary: #ffd700;
    --border-radius: 15px;
}
@keyframes animacion {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
.tarjetaPistaFacil {
    background: linear-gradient(120deg, #7b3535 30%, white 30% 80%, #7b3535 80%);
    z-index: 1;
    scale: 1;
    margin:1.5%;
}
#textoPF {
    float: left;
    width: 26%;
    margin-right: 6%;
}
#PFelement {
    color: white;
    text-align: center;
    font-style: italic;
}
#textoPistaFacil {
    float: left;
    width: 47%;
    margin-right: 6%;
}
#pistaFacilElement {
    color: #7b3535;
    text-align: center;
    font-style: italic;
}
#textoEnunciado {
    color: white;
    text-align: center;
    font-style: italic;
}
#distanciaElement {
    color: white;
    text-align: center;
    font-style: italic;
}
.tarjetaPistaDificil {
    background: linear-gradient(120deg, #354f7b 30%, white 30%);
    z-index: 1;
    scale: 1;
    margin: 1.5%;
}
#textoPD {
    float: left;
    width: 26%;
    margin-right: 6%;
}
#PDelement {
    color: white;
    text-align: center;
    font-style: italic;
}
#textoPistaDificil {
    float: left;
    width: 68%;
}
#pistaDificilElement {
    color: rgb(164, 50, 50);
    text-align: center;
    font-style: italic;
}
.button-rendirse {
    background-color: rgb(216, 14, 7);
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 175px; 
}
.info-popover{
    --width: 70%!important;
    --border-radius: 20px!important;
}
.info-popover .popover-content {
    border-radius: 20px;
  }
#containerBotones {
    height: 12%;
    align-items: center;
    display: flex;
}
#ranking {
    --ion-color-primary: #354f7b;
    --border-radius: 10px;
    float: left;
    scale: 1;
    width: 45%;
    height: 100%;
    padding: 0.5%;
    margin: auto
}
#contestar {
    --ion-color-primary: #45484e;
    --border-radius: 10px;
    float: left;
    scale: 1;
    width: 45%;
    height: 100%;
    padding: 0.5%;
    margin: auto
}
.lejos{
    --ion-color-primary: #45484e;
    --border-radius: 10px;
    float: left;
    scale: 1;
    width: 40%;
    height: 10%;
    padding: 0.5%;
}
.medio {
    --ion-color-primary: #e2860d;
    --border-radius: 10px;
    float: left;
    scale: 1;
    width: 50%;
    height: 10%;
    padding: 0.5%;
}

.child {
    width: 50%;
    float: left;
}