<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!empezado" class="menu-btn"></ion-back-button>
      <ion-button *ngIf = "empezado" style ="font-size: 17.5px;" (click)="popup()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf = "juegoSeleccionado.JuegoActivo">{{juegoSeleccionado.NombreJuego}}</ion-title>
    <ion-title *ngIf = "!juegoSeleccionado.JuegoActivo">Clasificación {{juegoSeleccionado.NombreJuego}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "juegoSeleccionado.JuegoActivo">
  <app-juego-de-geocaching-info style="display: block" id="info"></app-juego-de-geocaching-info>
  <ion-content style="display: none" id="juego">
    <div id="map"></div>
    <ion-button id="butInfo" (click)="popoverEvent()" > i </ion-button>
    <ion-button id="ranking"> Ver ranking </ion-button> <ion-button id="contestar" class="lejos"> Responder pregunta</ion-button>
    <!--<ion-card id="pistaDificil">
       <ion-card-content>
        <h4 style = "text-align: center;">Pista difícil </h4> 
        <h2 style = "text-align: center; color: rgb(172, 26, 26)">{{puntogeolocalizable.PistaDificil}} </h2>
      </ion-card-content>
    </ion-card> -->
  </ion-content>
  <button id="botonInformacion" mat-button (click)="display()" mat-raised-button color="primary">Oculta info</button>
</ion-content>


<ion-content *ngIf = "!juegoSeleccionado.JuegoActivo" class="juegoseleccionado-content"  [scrollEvents]="true">
  <!-- AQUI LO QUE SALDRA CUANDO EL JUEGO ESTE DESACTIVADO -->
</ion-content>


