.tabla {
    margin: 0%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

tr :hover {
    background-color: rgb(88, 88, 88);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.tabla thead tr {
    background-color: #233553;
    color: #ffffff;
    text-align: left;
}

.tabla th,
.tabla td {
    padding: 12px 15px;
}
.tabla tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabla tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabla tbody tr:last-of-type {
    border-bottom: 2px solid #233553;
}
